.navbar{
  position: sticky;
  top: 0;
  z-index: 1000;

  padding: 12px 30px;

  background: rgba(255,255,255,0.25) !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.navbar .nav-link{
  color:#f1f1f1 !important;
  font-weight:500;
}

.navbar .nav-link:hover{
  color:#4da3ff !important;
}

.navbar-brand{
  color:white !important;
  font-weight:700;
}
